<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="emocoes.css">
    <title>Calendário Menstrual</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/img/navbar/dália_secundario.png}">
</head>
<body>

<header>
    <div class="logo">
        <img src="../Emocoes/img/logo.svg" alt="Logo">
    </div>
    <nav>
        <ul>
            <li class="Home">
                <a href="/home"><img src="../HomeMenstruação/img/navbar/Home__nav.svg" alt="Início"></a>
                <span class="legenda">HomePage</span>
            </li>
            <li class="Calendario">
                <a href="/calendar"><img src="../HomeMenstruação/img/navbar/Calendar__nav.svg" alt="Calendário"></a>
                <span class="legenda">Calendário</span>
            </li>
            <li class="forum">
                <a href="/posts"><img src="../HomeMenstruação/img/navbar/Fórum__nav.svg" alt="Comunidade"></a>
                <span class="legenda">Fórum</span>
            </li>
            <li class="principal">
                <a href="../Emocoes/emocoes.html"><img src="../Emocoes/img/Flower__nav.svg" alt="Emoções"></a>
                <span class="legenda">Emoções</span>
            </li>
            <li class="perfil">
                <a href="/perfil"><img src="../HomeMenstruação/img/navbar/Perfil__nav.svg" alt="Perfil"></a>
                <span class="legenda">Perfil</span>
            </li>
        </ul>
    </nav>
</header>


<main>
    <section class="middle-panel">
        <div class="title">
            <h2>Registro Diário</h2>
        </div>
        <div class="mood">
            <h3>Como está seu humor hoje?</h3>
            <div class="options">
                <button class="mood-button">Apaixonadissimo😐</button>
                <button class="mood-button">Feliz 😢</button>
                <button class="mood-button">Apático 😠</button>
                <button class="mood-button">Triste 😐</button>
                <button class="mood-button">Raiva 😢</button>
                <button class="mood-button">Tédio 😠</button>
                <button class="mood-button">Nojo 😐</button>
                <button class="mood-button">Entusiamo 😢</button>
                <button class="add-button add-button--mood"></button>
            </div>
        </div>

        <div class="habits">
            <h3>Quais hábitos você praticou?</h3>
            <div class="options">
                <div class="type-text">
                    <label for="happy"></label>
                </div>
                <button class="habit-button"> Leitura</button>
                <button class="habit-button">Meditação</button>
                <button class="habit-button">Terapia</button>
                <button class="habit-button">Alongamento</button>
                <button class="habit-button">Pintura</button>
                <button class="habit-button">Banho de sol</button>
                <button class="habit-button">DIY</button>
                <button class="habit-button">Esportes</button>
                <button class="add-button" alt="ver mais humores"></button>
            </div>
        </div>
        <div class="symptoms">
            <h3>Quais sintomas você teve?</h3>
            <div class="options">
                <div class="type-text">
                    <label for="happy"></label>
                </div>
                <button class="symptom-button">Constipação</button>
                <button class="symptom-button">Mudanças de humor</button>
                <button class="symptom-button">Náuseas</button>
                <button class="symptom-button">Dor de Cabeça</button>
                <button class="symptom-button">Fadiga</button>
                <button class="symptom-button">Cólicas Menstruais</button>
                <button class="symptom-button">Acne</button>
                <button class="symptom-button">Inchaço</button>
                <button class="add-button add-button--symptom"></button>
            </div>
        </div>

        <div class="exercise">
            <h3>Quais exercicios você fez?</h3>
            <div class="options">
                <div class="type-text">
                    <label for="happy"></label>
                </div>
                <button class="exercise-button">Musculação</button>
                <button class="exercise-button">Academia</button>
                <button class="exercise-button">Caminhada</button>
                <button class="exercise-button">Aerobico</button>
                <button class="exercise-button">Corrida</button>
                <button class="exercise-button">Dança</button>
                <button class="exercise-button">Luta</button>
                <button class="exercise-button" class="exercise-button">Pilates</button>
            </div>
        </div>

        <div class="intimacy">
            <h3>Vida íntima</h3>
            <div class="options">
                <div class="type-text">
                    <label for="happy"></label>
                </div>
                <button class="intimacy-button">Não tive relações</button>
                <button class="intimacy-button">Com proteção</button>
                <button class="intimacy-button">Sem proteção</button>
                <button class="intimacy-button">Masturbação</button>
            </div>
        </div>

         <div class="secretion">
            <h3>Secreção vaginal</h3>
            <div class="habits-options">
                <div class="type-text">
                    <label for="happy"></label>
                </div>
                <button class="secretion-button">Sem secreção</button>
                <button class="secretion-button">Pastosa</button>
                <button class="secretion-button">Clara de ovo</button>
                <button class="secretion-button">Aquoso</button>
                <button class="secretion-button">Corrimento</button>
            </div>
        </div>

    </section>
</main>
 <footer class="footer">
        <div class="footer-content">
            <div class="content1">
                <img src="../BoletinsLeis/img/logo-footer.svg" alt="logo dália" class="footer-logo">
                <div class="language-selector">
                    <img src="../BoletinsLeis/img/Brasil.svg" alt="bandeira brasil">
                    <span>Português do Brasil</span>
                </div>
                <div class="social-media">
                    <a href="#" aria-label="Instagram">
                        <img src="../BoletinsLeis/img/Instagram.svg">
                    </a>
                    <a href="#" aria-label="Facebook">
                        <img src="../BoletinsLeis/img/Facebook.svg">
                    </a>
                    <a href="#" aria-label="Youtube">
                        <img src="../BoletinsLeis/img/Youtube.svg">
                    </a>
                </div>
            </div>
            <div class="footer-sections">
                <div class="section">
                    <h4>Empresas</h4>
                    <a href="#">Sobre</a><br>
                    <a href="#">Marca</a>
                </div>
                <div class="section">
                    <h4>Recursos</h4>
                    <a href="#">Suporte</a><br>
                    <a href="#">Segurança</a><br>
                    <a href="#">Blog</a><br>
                    <a href="#">Comunidade</a>
                </div>
                <div class="section">
                    <h4>Políticas</h4>
                    <a href="#">Termos</a><br>
                    <a href="#">Privacidade</a><br>
                    <a href="#">Cookies</a><br>
                    <a href="#">Moderação</a>
                </div>
            </div>
        </div>
        </main>
    </footer>
<div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
        <div class="vw-plugin-top-wrapper"></div>
    </div>
</div>

<script th:src="@{https://vlibras.gov.br/app/vlibras-plugin.js}"></script>
<script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
</script>

<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js}"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="emocoes.js"></script>

</body>
</html>
